@media (min-width: 320px) {
  .home-banner {
    width: 100vw;
    position: relative;
    img {
      min-height: 400px;
    }

    .home-banner-text {
      position: absolute;
      width: 70%;
      top: 25%;
      right: 15%;
      color: white;
    }
    .home-banner-text-1 {
      background-color: #030303bb;
      padding: 10px 5px;
      h3 {
        font-size: 18px;
        margin: 0px;
      }
    }
    .arrow-box {
      position: absolute;
      font-size: 18px;
      color: white;
      bottom: 5px;
      button,
      input {
        background-color: transparent;
        border: none;
        color: white;
        &:disabled {
          color: rgba(255, 255, 255, 0.5);
        }
        &:disabled:hover {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }

    .home-banner-bg-img-box {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .home-banner-bg-img-1 {
      background-image: url("../Images/Banner/banner-1.jpg");
    }
    .home-banner-bg-img-2 {
      background-image: url("../Images/Banner/banner-2.jpg");
    }
    .home-banner-bg-img-3 {
      background-image: url("../Images/Banner/banner-3.jpg");
    }
    .home-banner-bg-img-4 {
      background-image: url("../Images/Banner/banner-4.jpg");
    }
    .home-banner-bg-img-5 {
      background-image: url("../Images/Banner/banner-5.jpg");
    }
  }
}

@media (min-width: 768px) {
  .home-banner {
    img {
      height: 500px;
    }
  }
}

@media (min-width: 992px) {
  .home-banner {
    height: 100vh;
    img {
      height: 100vh;
    }
    .home-banner-text {
      width: 30%;
      top: 80%;
      right: 5%;
      h3 {
        padding: 10px;
      }
    }
    .arrow-box {
      font-size: 22px;
    }
  }
}

@media (min-width: 1440px) {
  .home-banner {
    .home-banner-text {
      width: 25%;
      top: 85%;
    }
    .arrow-box {
      font-size: 25px;
    }
  }
}
